
.products-container {
    overflow: hidden;
}

.product {
    display: none;
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 10px;
    background-color: #f1f1f1;
}

.btn button:hover {
    background-color: #c9f0d4;
}
