body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header{
    font-family:monospace;
    background-color:cadetblue;
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
    #title{
    font-size: 30px;
    text-decoration-style: solid;
}
.menu {
    position: relative;
    align-items: center;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu-item {
    background-color:cadetblue;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    border: none;
    min-width: 100px;
}

.menu a:hover {background-color: #c9f0d4;}

/*
@media all and (min-width:600px){
            .menu{
                flex: 1 0 0;
            }
        }
*/
