section{
    display: block;
    margin: 10px;
}

.main-wrapper-signup {
    margin: 0 auto;
    width: 1000px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.signup-form {
    width: 400px;
/*    margin: 0 auto;*/
    padding-top: 10px;
    flex-direction: column;
}

.signup-form input {
    width:90%;
    height:40px;
    padding: 0 5%;
    margin-bottom: 4px;
    border:none;
    background-color:#c9f0d4;
    color: black;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 10px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #c9f0d4;
}
